CMakeLists.txt.user
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt*
Vocabulary/ORBvoc.bin

build/
*~
lib/
.vscode/*
scripts

Vocabulary/to_binary
Examples/Stereo/stereo_kitti_human
Examples/Stereo/stereo_kitti_human_offline
Examples/Stereo/stereo_matching_human

Evaluation/data/
Evaluation/meta/
Evaluation/res/
Evaluation/.ipynb_checkpoints/
Evaluation/__pycache__/


.idea/
cmake-build-debug/
cmake-build-release/
